<!DOCTYPE html>
<html>
<head>
  <title>Cyber Project</title>

  <link rel="stylesheet" type="text/css" href="/login-style.css">
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body onload="myFunction2()" >
	<div id="prcont">
<div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <span>Loading</span>
</div>
</div>
<div class="back-wrapper">
	<a href="/passwordlanding"><button>Back</button></a> 
</div>
<!-- <div class=bod> -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/passwordlanding/loginsignup" method="GET">
			<h1>Create Account</h1>
			<input type="text" placeholder="Name" required/>
			<input type="email" placeholder="Email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" required/>
			<input type="password" placeholder="Password" required/>
			<input type="password" placeholder="Confirm Password" required/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/passwordlanding/loginsignup/login" method="GET">
			<h1>Log in</h1>
			<input type="email" placeholder="Email" pattern="^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$" required/>
			<input type="password" placeholder="Password" required/>
			<!-- <a href="#">Forgot your password?</a> -->
			<button>Log in</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p><b>Already a user?!</b><br>To Connect with us please login with your personal info</p>
				<button class="ghost" id="signIn">Log In</button>
				<div class="left-gif"></div>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start your journey with us leaving all the tension of passwords to your <b>OWN PERSONAL VAULT</b>.</p>
				<button class="ghost" id="signUp">Sign Up</button>
				<div class="right-gif"></div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<script >
    function myFunction2(){
    setTimeout(myFunction,1200);
  }
    var preloader=document.getElementById('prcont');
    const b = document.getElementById('container');
    function myFunction(){
      preloader.style.display='none';
      b.style.display='flex';
    }
</script>
<script>
	const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});

</script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>