
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://wallpapercave.com/wp/wp2691434.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bod{
  display:'none';
}
#opa{
  display:'none';
  opacity: 0.8;
}
.first{
  background: rgba(0, 102, 102, 0.3); 
  color:white;
}

/*************Preloader*************
*/
#loader-wrapper{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:#999 radial-gradient(circle farthest-side, #333, #111);
  display:flex;
  justify-content: center;
  align-items:center;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7.34em;
  height: 7.34em;
  margin-left: -3.67em;
  margin-top: -3.67em;
}
.loader-block {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  opacity: 1;
  width: 2em;
  height: 2em;
  /*margin-bottom: 5%;*/
  background: #fdfdfd;
  animation: show .88s step-end alternate infinite ,pulse .88s linear alternate infinite;

}


.loader-block:nth-child(1) {
  /*display: inline-block;*/
  transform: translate(0em, 0em);
  animation-delay:0.065s;
}


.loader-block:nth-child(2) {
  transform: translate(2.67em, 0em);
  animation-delay:0.130s;
}

.loader-block:nth-child(3) {
  transform: translate(5.34em, 0em);
  animation-delay:0.195s;
}


.loader-block:nth-child(4) {
  transform: translate(0em, 2.67em);
  animation-delay:0.325s;
}


.loader-block:nth-child(5) {
  transform: translate(2.67em, 2.67em);
  animation-delay:0.130s;
}


.loader-block:nth-child(6) {
  transform: translate(5.34em, 2.67em);
  animation-delay:0.455s;
}

.loader-block:nth-child(7) {
  transform: translate(0em, 5.34em);
  animation-delay:0.390s;
}

.loader-block:nth-child(8) {
  transform: translate(2.67em, 5.34em);
  animation-delay:0.260s;
}

.loader-block:nth-child(9) {
  transform: translate(5.34em, 5.34em)
}

@-webkit-keyframes pulse {
  from,
  40% { 
    background: #fdfdfd;
  }
  to {
    background:#dadada;
  }
}

@-webkit-keyframes show {
  from, 40% { opacity: 0; }
  41%, to { opacity: 1; }
}

  @keyframes pulse {
    from,
    40% { 
      background: #fdfdfd;
    }
    to {
      background:#dadada;
    }
  }

  @keyframes show {
    from, 40% { opacity: 0; }
    41%, to { opacity: 1; }
  }

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(40, 40, 40,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(40, 40, 40,.8), rgba(0, 0, 0,.8));
}

/*************gif preloader**************
*****/

/*https://i.gifer.com/2RNb.gif*/