@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie'); 

/************************ Background ***************************************************
*/
{

}
body{
  background:black!important;
}
svg {
  height: 140%;
  display: block;
  position: absolute;
  left: 0;
  top: -100px;
}



#top .st48,
#top .st52,
#top .st50 {
  animation: drift-right-up 80s alternate;
}
#top .st33,
#top .st51 {
  animation: drift-right-up 75s alternate;
}
#top .st49,
#top .st42 {
  animation: drift-right-up 65s alternate;
}

#bottom .st11,
#bottom .st56 {
  animation: drift-down 70s alternate;
}
#bottom .st53,
#bottom .st54 {
  animation: drift-right 195s alternate;
}
#bottom .st55,
#bottom .st36,
#bottom .st33 {
  animation: drift-down 115s alternate;
}
#bottom .st51 {
  animation: drift-down-right 105s alternate;
}

#nearright .st40,
#nearright .st43,
#nearright .st33 {
  animation: drift-right 115s;
}
#nearright .st41,
#nearright .st44 {
  animation: drift-right-up 105s;
}
#nearright .st42,
#nearright .st45,
#nearright .st46,
#nearright .st55,
#nearright .st47 {
  animation: drift-right 135s;
}

#farright .st54,
#farright .st58,
#farright .st59 {
  animation: drift-right 55s;
}
#farright .st57,
#farright .st51 {
  animation: drift-right-up 40s;
}

@keyframes drift-right {
  100% {
    transform: translate(2000px, -20px);
  }
}
@keyframes drift-right-up {
  100% {
    transform: translate(2000px, -250px);
  }
}
@keyframes drift-up {
  100% {
    transform: translate(10px, -1450px);
  }
}
@keyframes drift-up-right {
  100% {
    transform: translate(175px, -1550px);
  }
}
@keyframes drift-down {
  100% {
    transform: translate(2000px, 1220px);
  }
}
@keyframes drift-down-right {
  100% {
    transform: translate(1450px, 320px);
  }
}
/***************************** Form *****************************************************
*/
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
    background-color: rgba(40,40,40, 0.5);
	border-radius:3px;
	padding:70px 90px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:-12px;
	font-size:12px;
	left:0px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}

/***************************** Generate button **********************************************
*/
.container {
  align-items: center;
  background: #000;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 200px;
}
.text {
  color: white;
  position: absolute;
  transition: opacity 300ms;
  user-select: none;
  -moz-user-select: none;
}

.active .btn{
	height:70px;
	width: 70px;
}
.fingerprint {
  /* height: 80px; */
  left: -10px;
  opacity: 0;
  position: absolute;
  stroke: #777;
  top: -40px;
  transition: opacity 1ms;
}
.fingerprint-active {
  stroke: #fff;
}
.fingerprint-out {
  opacity: 1;
}
.odd {
  stroke-dasharray: 0px 50px;
  stroke-dashoffset: 1px;
  transition: stroke-dasharray 1ms;
}
.even {
  stroke-dasharray: 50px 50px;
  stroke-dashoffset: -41px;
  transition: stroke-dashoffset 1ms;
}
.active.container {
  /*animation: 6s Container;*/
}
.active .text {
  opacity: 0;
  
}
.active .fingerprint {
  opacity: 1;
  transition: opacity 300ms 200ms;
}
.active .fingerprint-base .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 800ms 100ms;
}
.active .fingerprint-base .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 800ms;
}
.active .fingerprint-active .odd {
  stroke-dasharray: 50px 50px;
  transition: stroke-dasharray 2000ms 1500ms;
}
.active .fingerprint-active .even {
  stroke-dashoffset: 0px;
  transition: stroke-dashoffset 2000ms 1300ms;
}
.active .fingerprint-out {
  opacity: 1;
  
}

@keyframes Container {
  0% { width: 200px }
  6% { width: 80px }
  71% { transform: scale(1); }
  75% { transform: scale(1.2); }
  77% { transform: scale(1); }

  94% { width: 80px }
  100% { width: 200px }
}
@keyframes Text {
  0% { opacity: 1; transform: scale(1); }
  6% { opacity: 0; transform: scale(0.5); }

  94% { opacity: 0; transform: scale(0.5); }
  100% { opacity: 1; transform: scale(1); }
}
/******************************* Back Button ***************************************
*/
.back-wrapper {
    padding: 0;
    position:absolute;
    top:6%;
    left:4.5%;
    list-style-type: none;
}
.back-wrapper button {
  background: none;
  border: 0;
  box-sizing: border-box;
  color: transparent;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  /*left: 50%;*/
  letter-spacing: 1.5px;
  line-height: 50px;
  outline: none;
  overflow: hidden;
  padding: 10px 0 0;
  /*position: absolute;*/
  text-transform: uppercase;
  /*top: 50%;*/
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in;
  width: 100px;
}

.back-wrapper button::before,
.back-wrapper button::after {
  background-color: #0086b3 ;
  content: '';
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  transform-origin: center left;
  transition: all 0.2s ease-in;
  width: 141.4214px;
  z-index: -1;
}

.back-wrapper button::before {
  top: 0;
  transform: rotate(45deg);
}

.back-wrapper button::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.back-wrapper button:hover {
  color:white;
}

.back-wrapper button:hover::before,
.back-wrapper button:hover::after {
  height: 5px;
  transform: rotate(0deg);
}
/************************ Nav Bar ***************************************************8
*/
nav {
  mix-blend-mode: difference;
  z-index: 100;
}
nav ul {
  position:absolute ;
  top: 60px;
  right: 35px;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
  width: 35px;
}
nav ul li {
  font: bold 1rem "Work Sans", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
nav.active ul {
  visibility: visible;
  pointer-events: initial;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-icon {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 15px;
  right: 15px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 35px;
}
.nav-icon span {
  position: absolute;
  top: 15px;
  left: 5px;
  background: #fff;
  display: block;
  height: 3px;
  right: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav-icon span:before, .nav-icon span:after {
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
  display: block;
  left: 0;
  position: absolute;
}
.nav-icon span:before {
  top: -8px;
}
.nav-icon span:after {
  bottom: -8px;
}
.active .nav-icon span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/************************************** Post it note **************************************************************************
*/
#postit{
  display:none;
}
.quote-container {
  margin-top: 50px;
  position: relative;
}
 
.note {
  color: #333;
  position: absolute;
  top:30%;
  left:70%;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  /*font-family: Satisfy;*/
  font-family:'Reenie Beanie';

  font-size: 30px;
  box-shadow: 10px 10px 10px 2px rgba(255,255,255,0.3);
}
 
.note .author {
  display: block;
  margin: 40px 0 0 0;
  text-align: right;
}
.yellow {
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
    position: absolute;
  top:-10px;
  left:83%;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
 
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
 
  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
 
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}
/************************** Table ********************************************************
*/
.tble{
  position: absolute;
  top: 50%;
  left:5%;
}
/*************************** Text ********************************************************
*/
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  color:#d8d8d8;
  position: relative;
  margin-left:200px;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  top:20%;
  /*left: 20%;*/
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  /*position: absolute;*/
  top: 20%; 
  left: 10px;
}

.ml11 .letter {
  opacity:0;
  /*position: absolute;*/
  margin-top:20px;
  margin-left:30px;
  display: inline-block;
  line-height: 1em;
}