<!DOCTYPE html>
<html>
<head>
	<title>Cipher Conversion</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/caesar_codes_style.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>	
	<!-- <div class="container first">
        <h1>Welcome to the amazement</h1>
    </div> -->
 <!-- <div class="wrap"> -->
    <!-- <div class="heading text-center text-white"><h1>Cipher Conversion</h1></div> -->
  <!-- </div> -->
  <div class="wrapper1 text-center">
  <div class="letters"><span class="letter">C</span><span class="letter">I</span><span class="letter">P</span><span class="letter">H</span><span class="letter">E</span><span class="letter">R</span><span class="letter"> </span><span class="letter">C</span><span class="letter">O</span><span class="letter">N</span><span class="letter">V</span><span class="letter">E</span><span class="letter">R</span><span class="letter">S</span><span class="letter">I</span><span class="letter">O</span><span class="letter">N</span>
  </div>
</div>
</div>

    <div class="text-white center"style="margin-left:25%;margin-top:10%; ">
        <p id="text">ThE fOlLoWiNg ArE ThE EnCoDeD cIpHeRs. ClIcK On EaCh Of ThEm To ChEcK ThE gEnErAtEd CiPhErS.</p>
    </div>
<div class="wrapper2 "style="margin-left:25%;margin-top:5%">
<div class="row">
  <span>
    <input class="swing" id="Substitution Cipher" type="text" placeholder="Cipher #1" /><label for="artist">1-D Substitution Cipher</label>
  </span>
</div>
  <div class="row">

  <span>
    <input class="swing" id="Hybrid Cipher" type="text" placeholder="Cipher #2" /><label for="song">Parity Cipher</label>
  </span>
</div>
  <div class="row">

  <span>
    <input class="swing" id="Polygraphic Cipher" type="text" placeholder="Cipher #3" /><label for="eyes">2-D Cipher</label>
  </span>
</div>
  <div class="row">

  <span>
    <input class="swing" id="Pos Cipher" type="text" placeholder="Cipher #4" /><label for="eyes">Shift Cipher</label>
  </span>
</div>
</div>
<a style="text-decoration: none;" href="/cipherintro">
<div class="back">
	
    <div class="button_base b07_3d_double_roll">
        <div>Want to encode other message?!!</div>
        <div>Want to encode other message?!!</div>
        <div>Want to encode other message?!!</div>
        <div>Want to encode other message?!!</div>
    </div>

</div>
 </a>
<div class="heading footer text-center text-white"><h4>
To know more,check our repositories and follow us on social media</h4></div>
<div>
  <ul> 
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-facebook"></span>
      </a> 
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-twitter"></span>
      </a> 
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-instagram"></span>
      </a> 
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-github"></span>
      </a> 
    </li>
    <li>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span class="fa fa-linkedin"></span>
      </a> 
    </li>
  </ul>  
</div> 

  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>