<!DOCTYPE html>
<html>
<head>
	<title>Main landing page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style1.css">
</head>
<body>	
	<!-- <div class="container first">
        <h1>Welcome to the amazement</h1>
    </div> -->
 <div class="wrap">
    <div class="cube"><h1>Cyber Security Project</h1></div>
  </div>
  <div class="heading container text-center text-white mt-5">
  	<h2>Choose one of the options to advance futher </h2>
  </div>
	<section id="main">
		<div class=" x1 container">
			<div class="row">
				<div class="col-md-4 main1">
			<a style="color:black" href="/passwordlanding"><span class=" lnk pwd-mng">
					<p><h3>Password Manager and Generator</h3></p>
					<h6>An elegant and security-first password management and genration solution. Passwords are terrible. If you use a weak password for your bank website, you risk losing your funds to a brute-force cracking attack. But if you make the password too random, you might forget it and get locked out of the account. You might choose to memorize just one complex password and use it everywhere, but if you do that, a breach at one site exposes all your accounts. </h6>
			
			</span>
				</a>
				</div>

				<div class="col-md-4 main" >
			<a style="color:black" href="/cipherintro"><span class="lnk caes-cyph">
			
				<!-- <div class="col-md-6 "> -->
					<p><h3> Caesar Cipher Conversion</h3></p>
					<h6> Click here to learn and get amazed by the power of the cryptogrsphyby advancing one of the earliest and simplest method of encryption technique.<br>Cryptographic ciphers are used to convert ciphertext to plaintext and back. Symmetric cryptography uses the same key to encrypt and decrypt data, while asymmetric cryptography, also known as public key cryptography, uses public and private keys to encrypt and decrypt data.</h6>
				<!-- </div> -->
				<!-- <div class="col-md-6"> -->
					<!-- <img src="cipher.jpg"  style="width: 20%; height: 20%; opacity:0.8; position:relative"> -->
				<!-- </div> -->
			
			</span>
			</a>
				</div>
		</div>
		</div>
	</div>
		
	</section>
  <a style="text-decoration: none;" href="/dev">
  <ul>
  <li><span>Developers Info</span></li>
</ul>
</a>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>