<!DOCTYPE html>
<html>
<head>
	<title>Cipher Conversion</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/caesar_style.css">
</head>
<body>	
	<!-- <div class="container first">
        <h1>Welcome to the amazement</h1>
    </div> -->
 <!-- <div class="wrap"> -->
    <!-- <div class="heading text-center text-white"><h1>Cipher Conversion</h1></div> -->
  <!-- </div> -->
  <a style="text-decoration: none;" href="/">
  <ul>
  <li><span>Back</span></li>
</ul>
</a>
  <div class="wrapper1 text-center">
  <div class="letters"><span class="letter">C</span><span class="letter">I</span><span class="letter">P</span><span class="letter">H</span><span class="letter">E</span><span class="letter">R</span><span class="letter"> </span><span class="letter">C</span><span class="letter">O</span><span class="letter">N</span><span class="letter">V</span><span class="letter">E</span><span class="letter">R</span><span class="letter">S</span><span class="letter">I</span><span class="letter">O</span><span class="letter">N</span>
  </div>
</div>
	<section id="main">
		<!-- <div class="container"> -->
			<div class="row">
				
				<div class="col-md-2 form ">
			<span class=" lnk pwd-mng">
				<p>
					<h1>LET'S ENCODE! </h1>
					Enter the plain text or message you want to encrypt and get amazed by the cryptography techniques.
				</p>
					<form action="/encrypt" method="GET">
    
			    <div class="group mt-5">      
			      <input type="text" name="asked" required>
			      <span class="highlight"></span>
			      <span class="bar"></span>
			      <label>Plain Text</label>
			    </div>
			    <div class="wrapper mt-5">
			  <button>
			    Encode! 
			    <span></span>
			    <span></span>
			    <span></span>
			    <span></span>
			  </button>
			</div>
			    <!-- <div class="group">      
			      <input type="text" >
			      <span class="highlight"></span>
			      <span class="bar"></span>
			      <label>CIPHER</label>
			    </div> -->
			    
			  </form>

			
			</span>
				
				</div>
				<div class="col-md-2 main1">
			<span class=" lnk pwd-mng">
					<p><h3>1D Substitution Cipher</h3></p>
					<h6>In cryptography, a substitution cipher is a method of encrypting by which units of plaintext are replaced with ciphertext, according to a fixed system;the receiver deciphers the text by performing the inverse substitution. We achieve this algorithm by randomising the key for every plain text.</h6>
			
			</span>
				
				</div>
				<div class="col-md-2 main1">
			<span class=" lnk pwd-mng">
					<p><h3>Parity Encryption Cipher</h3></p>
					<h6>Hybrid Encryption is a concept in cryptography which combines/merge one/two cryptography algorithms to generate more effective encrypted text.We used a reference to a FibBil Cryptography Algorithm to merging ceasar cipher with reversing of the string and concatenation.</h6>
			
			</span>
				
				</div>
				<div class="col-md-2 main1">
			<span class=" lnk pwd-mng">
					<p><h3>Multi Substitution Cipher</h3></p>
					<h6>In a polygraphic substitution cipher, plaintext letters are substituted in larger groups, instead of substituting letters individually. The first advantage is that the frequency distribution is much flatter than that of individual letters . We achieved by combing the key to a 2D array and matching substituting the plaintext with reference to that table.</h6>
			
			</span>
				
				</div>


				<div class="col-md-2 main1" >
			<span class="lnk caes-cyph">
			
					<p><h3>Shift Pos and Hybrid Cipher</h3></p>
					<h6>Shifting bit is a process where the bit at current position is hifted either to its right or left acoording to the need and so on encrypting the code.After proper calcultion and observation,rewe designed an algorithm which uses shifting of bits of the plain text and then apply substitution on it, thus encrypting it. For decrption, inverse substitution is applied and then bits are shifted in opposite direction.</h6>
				
			
			</span>
		
				</div>
		</div>
		</div>
	<!-- </div> -->
		
	</section>
  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>