<!DOCTYPE html>
<html>
<head>
	<title>Develeopers page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/d-style.css">
</head>
<body>	
<a style="text-decoration: none;" href="/">
  <ul>
  <li><span>Back</span></li>
</ul>
</a>
<div class="heading container text-center text-white">
    <h1>The Developers</h1>
    <p>Those who made this project possible.</p>
  </div>
<div class=team>
<div class="container">
  <div class="container__image">
    <div class="container__info container__author"><h3>Anuraj Agarwal  </h3>.<br><div class="link"><h4>Frontend Designer</h4></div></div>
    <div class="container__info container__location">Overlooked the frontend developement sector and connected all sites designing the framework.Also helped Pavitra Goyal in preparing ideas for the cipher algorithms.</div>

  </div>
  <div class="container__image">
    <div class="container__info container__author"><h3>Pavitra Goyal  </h3>.<br><div class="link"><h4>Backend Designer</h4></div></div>
    <div class="container__info container__location">Programmed the database and backend of the application for both the portals : password generation and cipher generation.Coordinated with Devansh Saini to prepare and code the algorithms.</div>

  </div>

  </div>
<div class="container">
  <div class="container__image">
    <div class="container__info container__author"><h3>Devansh Saini  </h3>.<br><div class="link"><h4>Algorithm Manager</h4></div></div>
    <div class="container__info container__location">Helped preparing the algorithms code in C++ for both Encryption and Decryption and the generation of passwords.Also ran various tests to check the flaws in the cipher algorithms.</div>

  </div>
 

  <div class="container__image">
    <div class="container__info container__author"><h3>Shatayu Mittal  </h3>.<br><div class="link"><h4>Data Flow Controller</h4></div></div>
    <div class="container__info container__location">Checked the whole flow of data and the security and encryption of the data throughout the whole frontend and backend and helped Anuraj Agarwal in frontend developement.</div>
  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>